<h1 class="text-center">Seleccione un oficio:</h1>
<form #formoficio="ngForm" class="text-center">
    <select 
        name="cajaselect"
        #cajaselect>
        <option *ngFor="let oficio of oficios;" value="{{oficio}}">
            {{oficio}}
        </option>
    </select>
    <br/>
    <br/>
    <button (click)="mostrarEmpleados()" class="btn btn-danger">
        Mostrar Empleados
    </button>
    <br/><br/>
</form>


<table *ngIf="personas" class="table table-danger text-center" style="width: 500px; margin: 0 auto;">
    <thead class="table-dark">
        <th>Id empleado</th>
        <th>Apellido</th>
        <th>Oficio</th>
        <th>Salario</th>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.idEmpleado}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.oficio}}</td>
            <td>{{persona.salario}}</td>
        </tr>
    </tbody>
</table>



